<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Samantha Salley</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="./assets/images/brand-favicon.ico" type="image/x-icon">
  <link rel="icon" href="./assets/images/brand-favicon.ico" type="image/x-icon">
  <!-- stylesheets -->
  <link rel="stylesheet" href="./styles/styles.css" />
  <!-- icon lib -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
</head>

<body>
  <div class="app">
    <div class="header">
      <div class="header-brand">
        <a href="/">
          <img alt="Brand Logo" src="./assets/images/sas-logo.png" />
        </a>
      </div>
      <div class="header-text">
        <h1>Samantha Amanda Salley</h1>
      </div>
    </div>