    <div class="navbar">
      <div class="center-v-h">
        <div class="sm-link-container">
          <a class="link icon-link" href="mailto:s.amanda.salley@gmail.com" target="_top">
            <i class="far fa-lg fa-envelope"></i>
          </a>
        </div>
      </div>
      <div class="center-v-h">
        <div class="sm-link-container">
          <a class="link icon-link" href="https://github.com/samanthasalley" target="_blank">
            <i class="fab fa-lg fa-github"></i>
          </a>
        </div>
      </div>
      <div class="center-v-h">
        <div class="sm-link-container">
          <a class="link icon-link" href="https://www.linkedin.com/in/samanthasalley" target="_blank">
            <i class="fab fa-lg fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="center-v-h">
        <div class="sm-link-container">
          <a class="link icon-link" href="https://twiiter.com/samisalley" target="_blank">
            <i class="fab fa-lg fa-twitter"></i>
          </a>
        </div>
      </div>
      <div class="center-v-h">
        <div class="sm-link-container">
          <a class="link icon-link" href="https://instagram.com/samisalley" target="_blank">
            <i class="fab fa-lg fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>