<% include ./partials/header %>

  <div class="content box">
    <div class="blogs">
      <ul class="blog-post-list">
        <li class="blog-item">
          <span class="blog-date">Dec 13, 2017</span>
          <a class="btn btn-blog-item" href="https://prezi.com/view/7FJIZAH5YKmad8ALUKj4/" target="_blank">
            'i' is not the key (and Other React Anti-Patterns) - Slides
          </a>
        </li>
        <li class="blog-item">
          <span class="blog-date">Dec 14, 2017</span>
          <a class="btn btn-blog-item" href="https://medium.com/@samtumbaa/testing-and-debugging-in-vue-js-why-we-built-vuetron-63078bdbf9"
            target="_blank">
            Testing and Debugging in Vue.js
          </a>
        </li>
        <li class="blog-item">
          <span class="blog-date">Jan 18, 2018</span>
          <a class="btn btn-blog-item" href="https://prezi.com/view/lpLNSEfYLJwwnpJLsxqs/" target="_blank">
            The State of Vue Testing - Slides
          </a>
        </li>
      </ul>
    </div>
  </div>

  <% include ./partials/nav %>