<% include ./partials/header %>

  <div class="content" id="blog">
    <div class="blog-content">
      <div class="blog-header text-center">
        <h1>Blogs, Slides, and More!</h1>
      </div>
      <ul class="blog-post-list">
        <li class="blog-item">
          <h3 class="blog-date">Jan 18, 2018</h3>
          <h3 class="blog-title">
            <a class="btn btn-blog-item" href="https://prezi.com/view/lpLNSEfYLJwwnpJLsxqs/" target="_blank">
              The State of Vue Testing - Slides
            </a>
          </h3>
        </li>
        <li class="blog-item">
          <h3 class="blog-date">Dec 14, 2017</h3>
          <h3 class="blog-title text-center">
            <a class="btn btn-blog-item" href="https://medium.com/@samtumbaa/testing-and-debugging-in-vue-js-why-we-built-vuetron-63078bdbf9"
              target="_blank">
              Testing and Debugging in Vue.js
            </a>
          </h3>
        </li>
        <li class="blog-item">
          <h3 class="blog-date">Dec 13, 2017</h3>
          <h3 class="blog-title">
            <a class="btn btn-blog-item" href="https://prezi.com/view/7FJIZAH5YKmad8ALUKj4/" target="_blank">
              'i' is not the key (and Other React Anti-Patterns) - Slides
            </a>
          </h3>
        </li>
      </ul>
    </div>
  </div>

  <div class="btn btn-home">
    <a href="/">HOME</a>
  </div>

  <% include ./partials/nav %>