<% include ./partials/header %>

  <div class="content" id="body">
    <div class="body-content">
      <div class="prof-img">
        <img alt="Profile Image" src="./assets/images/cs-headshot-square.png" />
      </div>
      <div class="profile">
        <div class="tagline">
          <h4>I Promise to always take an Angular approach when I Vue an issue, and React with appropriate Sass!</h4>
        </div>
        <div class="intro">
          <p>
            Experienced software engineer specializing in full-stack Javascript using ES6 for writing readable, maintainable code. Co-lead
            of Vuetron, an open-source tool for testing and debugging Vue.js applications (350+ Github ★). Recent speaker
            at SoCal React on 'React Anti-Patterns' and VueJS LA on 'The State of Testing and Debugging in Vue.js'.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="btn btn-blog">
    <a href="./blog">BLOG</a>
  </div>


  <% include ./partials/nav %>