* {
  box-sizing: border-box; }

*:focus {
  outline: none !important; }

a {
  text-decoration: none; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%; }

body {
  margin: 0;
  width: 100%;
  height: 100%; }
  @media screen and (min-width: 768px) {
    body {
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center; } }

.app {
  color: #0F0E16;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 2em;
  width: 100%;
  grid-template-rows: 100% 100% 50px 50px;
  grid-template-areas: "h h h h h h h h h h h h" "c c c c c c c c c c c c" ". . . b b b b b b . . ." "n n n n n n n n n n n n"; }
  @media screen and (min-width: 768px) {
    .app {
      grid-template-areas: ". h h h h h h h h h h ." ". . c c c c c c c c . ." ". . . . b b b b . . . ." ". . n n n n n n n n . ."; } }
  @media (min-width: 992px) {
    .app {
      grid-template-areas: ". . h h h h h h h h . ." ". . . c c c c c c . . ." ". . . . . b b . . . . ." ". . . n n n n n n . . ."; } }
  .app .content {
    grid-area: c; }
  .app .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: b;
    text-align: center; }
    .app .btn a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75%;
      height: 100%;
      border-radius: 0;
      color: white;
      background: #0F0E16; }
      .app .btn a:hover {
        background: #0F0E16;
        /* The Fallback */
        background: rgba(15, 14, 22, 0.95); }
  .app .text-center {
    text-align: center; }

.header {
  grid-area: h;
  color: #C8C7CE;
  height: 100%;
  background: #0F0E16;
  /* The Fallback */
  background: rgba(15, 14, 22, 0.95);
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .header-brand {
    height: 100%;
    padding: 10px 10px 0 10px; }
    .header .header-brand img {
      height: 100%;
      max-height: 150px;
      margin-top: -15px; }

#body .body-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 0;
  height: 100%;
  grid-template-rows: 200px 100%;
  grid-template-areas: ". . pi pi . ." "pc pc pc pc pc pc"; }
  @media screen and (min-width: 768px) {
    #body .body-content {
      grid-template-rows: 100%;
      grid-template-areas: "pi pi pc pc pc pc"; } }
  #body .body-content .prof-img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: pi;
    align-self: center;
    padding: 10px; }
    #body .body-content .prof-img img {
      width: 100%;
      min-width: 150px;
      max-width: 185px;
      border-radius: 50%; }
  #body .body-content .profile {
    grid-area: pc;
    padding: 10px; }

#blog .blog-content {
  height: 100%; }
  #blog .blog-content .blog-post-list {
    padding: 20px;
    border: 1px solid darkgray; }
  #blog .blog-content .blog-item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 0;
    grid-template-areas: "bd bd bt bt bt"; }
    #blog .blog-content .blog-item:not(:first-child) {
      border-top: 1px solid darkgray; }
    #blog .blog-content .blog-item .blog-date {
      grid-area: bd; }
    #blog .blog-content .blog-item .blog-title {
      grid-area: bt; }
      #blog .blog-content .blog-item .blog-title a {
        color: #0F0E16; }

.navbar {
  grid-area: n;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 0;
  background: #0F0E16;
  text-align: center; }
  .navbar .center-v-h {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar .center-v-h .icon-link {
      color: #C8C7CE; }

/*# sourceMappingURL=styles.css.map */
