#body {
  .body-content {
    @include grid(6, 0);
      
    height: 100%;
    grid-template-rows: 200px 100%;
    grid-template-areas:
        ". . pi pi . ."
        "pc pc pc pc pc pc";

    @media screen and (min-width: 768px) {
      grid-template-rows: 100%;
      grid-template-areas:
          "pi pi pc pc pc pc";
    }

    .prof-img {
      @include display(flex, center, center);
    
      grid-area: pi;
      align-self: center;
      padding: 10px;
    
      img {
        width: 100%;
        min-width: 150px;
        max-width: 185px;
        border-radius: 50%;
      }
    }
    
    .profile {
      grid-area: pc;
      padding: 10px;
    }
  }
}