* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

a {
  text-decoration: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }